
@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Eventos</h1>
<hr />


        <a asp-controller="Eventos" asp-action="IncluirEvento"class="btn btn-primary btn-lg btn-block" >
            Incluir Novo Evento
        </a>
   
        <a asp-controller="Eventos" asp-action="ListarEventos"class="btn btn-primary btn-lg btn-block">
            Listar Eventos
        </a>
   

