
@{
    ViewBag.Title = "Erro";
}



<div class="jumbotron">
    <h2 class="text-danger">Ocorreu o seguinte erro:</h2>
    <div class="alert alert-danger text-center">
        @ViewBag.MensagemErro
    </div>
</div>