
@{
    ViewBag.Title = "Pagina Principal";
}




<div class="jumbotron">
    <h1>Seja Bem Vindo!</h1>
    <p class="lead">Esta é minha primeira pagina em ASP.NET MVC</p>
</div>

<div class="row">

</div>



<div>
    @RenderPage("Rodape.cshtml")
</div>