@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema de Gestão de Eventos</h1>
    <p>Selecione uma opção no menu para iniciar</p>
</div>









